---
import BaseLayout from '../layouts/BaseLayout.astro';
import BackBtn from '../components/BackBtn.astro';

import ExperiencesCard from '../components/experiences/ExperiencesCard.astro';
---

<BaseLayout title='Yurik | Experiences'>
  <BackBtn />
  <h1 class='p-12 text-center text-5xl opacity-80'>Experiences</h1>

  <div class='max-w-3xl'>
    <ExperiencesCard
      title='quis veniam amet ipsum'
      year='2023 - Present'
      description='Non nisi mollit sit qui deserunt consectetur sint incididunt ut magna esse do. Incididunt Lorem qui enim voluptate esse Lorem voluptate Lorem. Duis cupidatat sint enim nulla excepteur qui sint do adipisicing irure tempor magna. Id velit eiusmod amet esse non adipisicing deserunt. Est fugiat id Lorem eu id sunt sit sit eu ullamco excepteur.'
    />

    <div class='border-b border-dashed pb-4 opacity-20'></div>

    <ExperiencesCard
      title='Amet id laborum'
      year='2021 - 2023'
      description='Non nisi mollit sit qui deserunt consectetur sint incididunt ut magna esse do. Incididunt Lorem qui enim voluptate esse Lorem voluptate Lorem. Duis cupidatat sint enim nulla excepteur qui sint do adipisicing irure tempor magna. Id velit eiusmod amet esse non adipisicing deserunt. Est fugiat id Lorem eu id sunt sit sit eu ullamco excepteur.'
    />

    <div class='border-b border-dashed pb-4 opacity-20'></div>

    <ExperiencesCard
      title='Amet id laborum'
      year='2021 - 2023'
      description='Non nisi mollit sit qui deserunt consectetur sint incididunt ut magna esse do. Incididunt Lorem qui enim voluptate esse Lorem voluptate Lorem. Duis cupidatat sint enim nulla excepteur qui sint do adipisicing irure tempor magna. Id velit eiusmod amet esse non adipisicing deserunt. Est fugiat id Lorem eu id sunt sit sit eu ullamco excepteur.'
    />
  </div>
</BaseLayout>
