---
import BaseLayout from '../layouts/BaseLayout.astro';
import BackBtn from '../components/BackBtn.astro';
---

<BaseLayout title='Yurik | Projects'>
  <BackBtn />
  <h1>Projects</h1>
</BaseLayout>
