---
import { Icon } from 'astro-icon/components';
---

<a href='/' class='absolute left-5 top-5 flex gap-4 dark:opacity-40 opacity-60 transition duration-300 ease-in-out hover:opacity-80'>
  <Icon name='eva:diagonal-arrow-left-up-fill' />
  <p class="italic">home</p></a
>

<style>
  a {
    font-family: 'Newsreader Variable', serif;
  }
</style>
