---
import { Icon } from 'astro-icon/components';
---

<a href='/' class='absolute left-10 top-10 flex gap-4 opacity-70 md:absolute md:left-48 md:top-36'>
  <Icon name='lets-icons:back-light' />
  <p class='italic'>back</p></a
>

<style>
  a {
    font-family: 'Newsreader Variable', serif;
  }
</style>
