---
import { SITE } from '@consts';
import getYear from '@lib/utils';
---

<footer
  class='border-t border-grey-custom border-opacity-40 text-sm opacity-100 opacity-60 dark:border-opacity-20 dark:text-grey-custom dark:opacity-70'>
  <div class='tracking-tightest mx-auto flex max-w-screen-md content-center items-center justify-between px-5'>
    <p>&copy; {getYear} | {SITE.NAME}</p>
    <p>{SITE.TIMEZONE} | {SITE.LOCATION}</p>
  </div>
</footer>
