<footer
  class='text-grey-text border-grey-text border-t border-opacity-20 p-4 text-sm opacity-70'>
  <div class='mx-auto max-w-2xl flex justify-between content-center'>
    <p>Shine, constantly, and steadily</p>
    <p>2024</p>
  </div>
</footer>
