---
import getYear from '../utils/getYear';
---

<footer class='border-t border-grey-text dark:border-opacity-20 border-opacity-40 p-4 opacity-60 text-sm dark:text-grey-text opacity-100 dark:opacity-70'>
  <div class='tracking-tightest mx-auto flex max-w-2xl content-center items-center justify-between'>
    <p>UTC +7 @ Bintan Island, Indonesia</p>
    <p>{getYear}</p>
  </div>
</footer>
