---
const { title, description, url } = Astro.props;
---

<div class='py-4'>
  <a href={url} class="flex  flex-col gap-2">
    <h3 class='font-medium'>{title}</h3>
    <p class='dark:text-grey-text dark:opacity-80 opacity-70'>{description}</p>
  </a>
</div>
