---
import '@fontsource-variable/inter';
import '@fontsource-variable/newsreader';
import '@fontsource/ibm-plex-sans';

import Footer from '../components/Footer.astro';
import DarkMode from '../components/DarkMode.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/public/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='flex min-h-screen flex-col bg-white-text text-black-bg dark:bg-black-bg dark:text-white-text'>
    <main class='p mx-auto flex-grow px-4 py-24'>
      <slot />
    </main>
    <Footer />
    <DarkMode />
  </body>
</html>

<style>
  * {
    font-family: 'Inter Variable', sans-serif;
  }
</style>
